*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
bower_components
client/dist
.tmp
server/providers-private.json
server/datasources.development.js
client/ngapp/styles/main.css
client/ngapp/styles/main.css.map
client/ngapp/build/main.js
client/ngapp/data/factbook/
