<div class="bar-chart-wrapper">
  <svg class="bar-chart"
    id="blockpageCount-bar-chart">
  </svg>

  <a ng-click="viewOlder()"
    ng-show="perPage * page < countryData.length">
    <i class="fa fa-chevron-circle-left"></i>
    View Older
  </a> &nbsp; &nbsp;
  <a ng-click="viewNewer()"
    ng-show="perPage * (page - 1)">
    View Newer
    <i class="fa fa-chevron-circle-right"></i>
  </a>
</div>

<p class="graph-description">
  The graph above shows when we've run tests, and how many sites we've found to be blocked <i class="blocked"></i> out of all measured <i class="measured"></i>.
</p>
