button {
  @include primary-button-mixin($button-border, $color-ooni-blue, $color-white);

  &:hover {
    background-color: darken($color-ooni-blue, 10%);
    color: white;
  }
}

button.secondary {
  background-color: $color-white;
  color: $color-ooni-blue;

  &:hover {
    background-color: darken($color-ooni-blue, 10%);
    color: white;
  }
}

button.secondary.selected {
  background-color: darken($color-ooni-blue, 10%);
  color: $color-white;
}
