.hover-wrapper {
  position: relative;
  cursor: pointer;

  .hover-definition {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    color: white;
    padding: .5rem 1rem;
    width: 20rem;
    opacity: 0;
    top: 2rem;
    left: 0;
    vertical-align: top;
  }

  &:hover .hover-definition {
    display: inline-block;
    opacity: 1;
  }
}
