.pagination {
  margin: 0 1rem 1rem 0;
  display: inline-block;

  li {
    display: inline-block;
    margin: 0;
    padding: .25rem .5rem;
    border: 1px solid $color-off-white;
    border-right: 0px;
  }

  a {
    cursor: pointer;
  }

  li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid $color-off-white;
  }
  li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
