table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  th {
    font-weight: bold;
    text-align: left;
  }
}

tbody {
  td,
  th {
    padding: .25rem .5rem;
    transition: $transition-speed background-color;
  }

  th {
    font-weight: 600;
    text-align: left;
  }

  tr:nth-child(even) td,
  tr:nth-child(even) th{
    background-color: darken($color-white, 2%);
  }

  tr:hover td,
  tr:hover th {
    background-color: $color-off-white;
  }
}

table.countries {
  td {
    cursor: pointer;
  }
}

.clickable {
  cursor: pointer;

  i::before {
    color: $color-off-white;
    transition: color $transition-speed;
  }

  &:hover {
    i::before {
      color: $color-ooni-blue;
    }
  }
}
