<h1>What is OONI?</h1>

<p>The <a href="https://ooni.torproject.org/">Open Observatory of Network Interference (OONI)</a> is a free software project under the <a href="https://www.torproject.org/">Tor Project</a> which collects and processes network measurements with the aim of detecting network anomalies, such as censorship, surveillance and traffic manipulation. Since late 2012, OONI has collected millions of measurements across more than 90 countries around the world.</p>

<h1>What is OONI Explorer?</h1>

<p><strong>OONI Explorer</strong> is a global map which provides a location to explore and interact with all of the network measurements that have been collected through <a href="https://github.com/TheTorProject/ooni-probe">OONI tests</a> from 2012 until today. These tests are designed to:
<ul>
	<li>Detect the blocking of websites</li>
	<li>Detect systems responsible for censorship, surveillance and traffic manipulation</li>
	<li>Evaluate the reachability of <a href="https://bridges.torproject.org/">Tor bridges</a>, proxies, VPNs, and sensitive domains</li>
</ul>

</p>

<p>OONI Explorer serves as a resource for researchers, journalists, lawyers, activists, advocates and anyone interested in exploring network anomalies, such as censorship, surveillance and traffic manipulation, and how the internet works in general.</p> 

<p><strong>Note:</strong> The network measurements included in OONI Explorer were collected in specific moments in time and within specific networks and do not necessarily reflect the overall levels of censorship and traffic manipulation across time or on country-wide levels.</p>

<h1>Credits</h1>

<p>OONI Explorer contributors:

<ul>
	<li>Arturo Filastò</li>
	<li>Brennan Novak</li>
	<li>Simon Vansintjan</li>
	<li>Joe Landers</li>
	<li>Vasilis Ververis</li>
	<li>Tyler Fisher</li>
	<li>Will Scott</li>
	<li>Guy Hughes</li>
	<li>Maria Xynou</li>

</ul>   

</p>

<p>Special thanks to:

<ul>
	<li>the <strong>German Federal Foreign Office</strong> for funding OONI Explorer</li>
	<li>all the volunteers around the world who have contributed to OONI over the years</li>
	<li>the Open Technology Fund (OTF) for funding OONI since its start</li>

</ul>  

</p>