<main class="country">
  <div class="container">
    <div class="row">
      <h1>
        <i class="flag-icon" ng-class="'flag-icon-' + countryCode | lowercase"></i>
        <span ng-bind="countryName | lowercase" class="capitalize"><span>
      </h1>
    </div>

    <ul class="toc">
      <li ng-show="blockpageCount">
        <a href="#blockpageCount-bar-chart">Bar Chart</a>
      </li>
      <li>
        <a scroll-to="measurements">Measurements</a>
      </li>
      <li>
        <a scroll-to="country-data">Country Data</a>
      </li>
      <li>
        <a scroll-to="methods">Methods</a>
      </li>
      <li>
        <a scroll-to="vendors">Vendors</a>
      </li>
      <li ng-show="blockpageCount">
        <a scroll-to="blocked-sites">Blocked Sites</a>
      </li>
    </ul>

    <div class="hang-right">

      <p>
        Here's what we know about anomalies with internet connections located in <span class="capitalize">{{ countryName | lowercase }}</span>.
      </p>

      <h3><span class="detail">{{ count | number }}</span> Measurements Collected</h3>
    </div>

    <div id="bar-chart" ooni-country-bar-chart
      country-data="blockpageCount"
      ng-if="blockpageCount.length > 0">
    </div>

    <div ooni-loader
      loaded="loaded">
    </div>

    <div id="measurements" ooni-grid-wrapper
      get-data-function="loadMeasurements"
      total-items="count">
    </div>

    <div class="statistics" id="country-data">
    <h2>
      Country Internet Statistics
    </h2>
    <p>Datasource: <a href="https://github.com/simonv3/factbook-country-data">World Fact Book</a></p>

    <table class="test-details">
      <tbody>
      <tr ooni-report-detail-table-row
        content="countryDetails.Communications['Internet country code'].text"
        label="'Top level domain'"
        >
      </tr>
      <tr ooni-report-detail-table-row
        content="countryDetails.Communications['Internet users']['percent of population'].text"
        label="'Percent of population using the internet'">
      </tr>
      <tr ooni-report-detail-table-row
        content="countryDetails.Communications['Internet users']['total'].text"
        label="'Total population using the internet'">
      </tr>
      <tr ooni-report-detail-table-row
        content="countryDetails['People and Society']['Population'].text"
        label="'Total population'">
      </tr>
      </tbody>
    </table>
    </div>

    <section class="reasons" id="methods" ng-show="censorshipMethods.length > 0">
      <h2>Methods of Censorship</h2>
      <ul>
          <li ng-repeat="censorshipMethod in censorshipMethods">
            <h3>{{censorshipMethod.name}}</h3>
            <p>{{censorshipMethod.description}}</p>
          </li>
      </ul>
    </section>

    <section class="vendors" id="vendors">
      <h2>Identified Vendors</h2>
      <ul ng-show="vendors.length > 0">
        <li ng-repeat="vendor in vendors">
          <h3>{{vendor.vendor}}</h3>
          <strong>ASN: {{ vendor.probe_asn }}</strong><br/>
          Identified on: {{ vendor.test_start_time | date:'shortDate'}} <br/>
          <a href="/measurement/{{ vendor.report_id }}">view measurement »</a>
        </li>
      </ul>
      <div class="no-show" ng-show="vendors.length === 0">
        We've identified no vendors for this country.
      </div>
    </section>

    <section class="websites-blocked" id="blocked-sites">
      <h2>Blocked Websites</h2>
      <ul ng-show="blockpageList.length > 0">
        <li ng-repeat="obj in loadedChunks track by $index">
          <strong>{{ obj.input }}</strong>:
          <ng-pluralize count="obj.measurements.length"
                   when="{'0': 'No measurements (???)',
                       'one': '1 measurement',
                       'other': '{} measurements.'}">
          </ng-pluralize>
          <div>
            <a href="/website/{{ encodeInput(obj.input.replace('http://', '')) }}">View Page Information »</a>
          </div>
          <ul class="blockpage-measurements">
            <li ng-repeat="measurement in obj.measurements | orderBy:'test_start_time'">
              {{ measurement.test_start_time | date:'shortDate' }}
              <a ng-href="/measurement/{{ measurement.report_id }}?input={{ encodeInput(measurement.input) }}">view »</a></li>
          </ul>
        </li>
      </ul>
      <div class="loading-more no-show"
        in-view="loadMoreChunks($index, $inview, $inviewpart)" in-view-options="{debounce: 1000}" ng-hide="chunkEndReached">
        <i class="fa fa-spinner fa-spin"></i> loading more...
      </div>
      <div  class="no-show" ng-show="blockpageList.length === 0">
        We've identified no blocked pages for this country.
      </div>
    </div>
  </div>
</main>
