<main>
<div class="container">
  <div class="row report-list-header">
    <div class="col-3">
      <h1>OONI</h1>
      <h1>Collected data</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <datamap map="worldMap" on-click="map_clicked"></datamap>
      <div class="worldMap"></div>
    </div>
  </div>
</div>
<div ng-show="!loaded" class="loading row">
  <div class="ooni-loader col-1">
    <img src="../images/ooni-loader.svg">
  </div>
  <div class="col-2 ooni-loading-text">
    <h2>Loading...</h2>
    <pre typewrite text="loading_phrases" type-delay="100" class="saying"></pre>
  </div>
</div>
<div class="report-listing">
  <div class="probe-country" ng-repeat="(country_code, reports) in reports_by_country">
    <div class="row pad-below" ng-controller="ReportListCtrl">
      <div class="col-1">
        <div id="reports-{{country_code}}" class="probe-country-info" ng-click="toggle_reports(country_code)">
          <span class="label label-primary">
            <span class="flag-icon" ng-class="'flag-icon-' + country_code | lowercase "></span>
            {{ country_code }}
          </span>
          <h2 ng-hide="!get_country(country_code)">{{ get_country(country_code).name }}</h2>
          <h2 ng-show="!get_country(country_code)">Unknown country</h2>
          <p class="report-count">{{reports.count}} reports</p>
          <p ng-show="reports.interesting" class="report-anomalies">{{reports.interesting}} anomalies</p>
          <p class="byline">click to toggle report files</p>
        </div>
      </div>
      <div class="col-2">
        <div class="report-files-list" ng-if="shown">
          <div id="grid1" ui-grid="gridOptions" class="report-file-grid"></div>
          <a ng-click="toggle_reports(country_code)">hide</a>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
