<main>
<div class="container">
  <div class="row report-list-header">
    <div class="col-3">
      <h1>Collected data</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="worldMap"></div>
    </div>
  </div>
</div>
<div ng-show="!loaded" class="loading row">
  <div class="ooni-loader col-1">
    <img src="../images/ooni-loader.svg">
  </div>
  <div class="col-2 ooni-loading-text">
    <h2>Loading...</h2>
    <pre id="loading-text" class="saying"></pre>
  </div>
</div>
<div class="report-listing">
  <div class="probe-country" ng-repeat="(country_code, reports) in reports_by_country.reports">
    <div class="row pad-below">
      <div class="col-1">
        <div class="probe-country-info" ng-click="shown=!shown">
          <span class="label label-primary">
            <span class="flag-icon" ng-class="'flag-icon-' + country_code | lowercase "></span>
            {{ country_code }}
          </span>
          <h2 ng-hide="!get_country(country_code)">{{ get_country(country_code).name }}</h2>
          <h2 ng-show="!get_country(country_code)">Unknown country</h2>
          <p class="report-count">{{reports.length}} reports</p>
          <p class="byline">click to toggle report files</p>
        </div>
      </div>
      <div class="col-2">
        <div class="report-files-list" ng-show="shown">
          <ul>
            <li ng-repeat="report in reports">
            {{report.start_time * 1000 | date:medium}} - {{report.test_name}} - {{ report.probe_asn}}
            <a href="https://ooni.torproject.org/reports/{{report.start_time * 1000 | date:'yyyy-MM-dd'}}/{{report.report_filename}}">download</a>
            </li>
          </ul>
          <a ng-click="shown=!shown">hide</a>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
