<main>
<div class="container">
  <div class="row">
    <div class="col-3">
      <datamap map="worldMap" on-click="map_clicked"></datamap>
      <div class="worldMap"></div>
    </div>
  </div>
</div>
<div ng-show="!loaded" class="loading row">
  <div class="ooni-loader col-1">
    <img src="../images/ooni-loader.svg">
  </div>
  <div class="col-2 ooni-loading-text">
    <h2>Loading...</h2>
    <pre typewrite text="loading_phrases" type-delay="100" class="saying"></pre>
  </div>
</div>

<div ooni-countries-table
  reports-by-country-array="reportsByCountryArray">
</div>
</main>
