<main class="measurement">

  <div ng-show="not_found">
    <h1><i class="icon-decentralization"></i> 404 - Report Not Found</h1>
    <p>This can either mean that the report you submitted has not yet been
    processed or that it was not submitted successfully. Please try again later.</p>
    <p><a href="/world/">Go Back Home</a></p>
  </div>

  <div class="container" ng-hide="!loaded">
    <div class="row">
      <h1 id="country" class="capitalize">
        <i class="flag-icon"
          ng-class="'flag-icon-' + report.probe_cc | lowercase "></i>
          <span ng-bind="countryName | lowercase" class="capitalize"><span>
      </h1>
      <a href="/country/{{report.probe_cc}}">Back to Country</a>
    </div>
    <div class="row report-list-header">
      <div class="col-3">
        <div class="measurement-info">
          <span class="detail tiny">Measurement</span>
          <h1>
            <i class="icon-measurement"></i> {{ nettest.long_name }} <span class="detail">{{report.test_start_time | date:'shortDate'}}</span>
          </h1>
          <p>ID: {{measurementId}}</p>

          <div class="details">
            <span class="detail tiny">Probe Details</span>
            <div class="spec-in-all-tests">
              <div class="inline-test-spec">
                <span id="'asn'"
                    label="'Network'"
                    ooni-more-info-hover
                    content="network_information"
                    definition="definitions.probe_asn"></span>
              </div>
              <div class="inline-test-spec">
                <span id="'software_name'"
                    label="'Name'"
                    ooni-more-info-hover
                    content="report.software_name"
                    definition="definitions.software_name"></span>
              </div>
              <div class="inline-test-spec">
                <span id="'software_version'"
                    label="'Version'"
                    ooni-more-info-hover
                    content="report.software_version"
                    definition="definitions.software_version"></span>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="report"
          ooni-nettest-details
          report="report"></div>
        <h3><i class="icon-analysis"></i> Inspect Raw Measurement Data:</h3>
        <json-formatter open="1" json="report.test_keys">
        </json-formatter>

      </div>
    </div>
  </div>
</main>
