<main class="report">

<div ng-show="!loaded" class="loading row">
  <div class="ooni-loader col-1">
    <img src="../images/ooni-loader.svg">
  </div>
  <div class="col-2 ooni-loading-text">
    <h2>Loading...</h2>
    <pre typewrite text="loading_phrases" type-delay="100" class="saying"></pre>
  </div>
</div>

<div ng-show="not_found">
  <h2>404 - Report not found</h2>
  <p>This can either mean that the report you submitted has not yet been
  processed or that it was not submitted successfully.</p>
  <p>Try again later</p>
</div>

<div class="container">
  <div class="row report-list-header">
    <div class="col-3">
      <h1>Report: #{{reportId}} - {{report.test_start_time | date:'shortDate'}}</h1>
      <h2>{{ report.test_name }}</h2>

      <div class="details">
        <h3>
          Report Details
        </h3>

        <div>
          <label for="country">probe country: </label><span id="country"><i class="flag-icon" ng-class="'flag-icon-' + report.probe_cc | lowercase "></i> {{ report.probe_cc }}</span>
        </div>
        <div>
          <label for="asn">probe ASN: </label><span id="asn">{{ report.probe_asn }}</span>
        </div>
        <div>
          <label for="software_name">software name: </label><span id="software_name">{{ report.software_name }}</span>
        </div>
        <div>
          <label for="software_version">software version: </label><span id="software_version">{{ report.software_version }}</span>
        </div>
        <div>
          <label for="probe_ip">probe IP: </label><span id="probe_ip">{{ report.probe_ip }}</span>
        </div>
      </div>

      <div ng-if="report.test_name == 'http_requests'" ng-include="'views/nettests/http-requests.html'"></div>

      <h3>
          Measurement data
      </h3>
      <json-formatter open="1" json="report.test_keys">
      </json-formatter>

    </div>
  </div>
</div>
</main>
