<main class="report">

<div ng-show="not_found">
  <h2>404 - Report not found</h2>
  <p>This can either mean that the report you submitted has not yet been
  processed or that it was not submitted successfully.</p>
  <p>Try again later</p>
</div>

<div class="container" ng-hide="!loaded">
  <div class="row report-list-header">
    <div class="col-3">
      <h1>Report: {{measurementId}}</h1>
      <h2>A {{ nettest.long_name }} test ran on {{report.test_start_time | date:'shortDate'}}</h2>

      <!-- <div class="summary">
        <h3>
          Summary
        </h3>
        <div ng-if="report"
          ooni-nettest-summary
          report="report"></div>
      </div> -->

      <div class="details">
        <h3>
          Report Details
        </h3>

        <div>
          <span for="country">This test was run in </span>
          <span id="country">
            <i class="flag-icon"
              ng-class="'flag-icon-' + report.probe_cc | lowercase "></i> {{ countryName }}
          </span>
        </div>
        <div class="spec-in-all-tests">
          <div class="inline-test-spec">
            <span id="'asn'"
                label="'probe ASN'"
                ooni-more-info-hover
                content="report.probe_asn"
                definition="definitions.probe_asn"></span>
          </div><div class="inline-test-spec">
            <span id="'software_name'"
                label="'Software Name'"
                ooni-more-info-hover
                content="report.software_name"
                definition="definitions.software_name"></span>
          </div><div class="inline-test-spec">
            <span id="'software_version'"
                label="'Software Version'"
                ooni-more-info-hover
                content="report.software_version"
                definition="definitions.software_version"></span>
          </div><div class="inline-test-spec">
              <span id="'probe_ip'"
                label="'probe IP'"
                ooni-more-info-hover
                content="report.probe_ip"
                definition="definitions.probe_ip"></span>
          </div>
        </div>
      </div>

      <div ng-if="report"
        ooni-nettest-details
        report="report"></div>
      <h3>
          Inspect raw measurement data:
      </h3>
      <json-formatter open="1" json="report.test_keys">
      </json-formatter>

    </div>
  </div>
</div>
</main>
