<main>
<div class="container">
  <div class="row report-list-header">
    <div class="col-3">
      <h1>Report with ID {{report_id}}</h1>
    </div>
  </div>
</div>
<div ng-show="!loaded" class="loading row">
  <div class="ooni-loader col-1">
    <img src="../images/ooni-loader.svg">
  </div>
  <div class="col-2 ooni-loading-text">
    <h2>Loading...</h2>
    <pre typewrite text="loading_phrases" type-delay="100" class="saying"></pre>
  </div>
</div>
<div ng-show="not_found">
  <h2>404 - Report not found</h2>
  <p>This can either mean that the report you submitted has not yet been
  processed or that it was not submitted successfully.</p>
  <p>Try again later</p>
</div>
<div class="row" ng-repeat="(key, value) in report">
  <div class="col-1">
    <strong>{{key}}</strong>
  </div>
  <div class="col-2">
    <span>
    {{value}}
    </span>
  </div>
</div>
<div class="row" ng-show="loaded">
  <h2>Report not yet analysed</h2>
</div>
</main>
