<main class="website">
  <div class="container">
    <div class="row">
      <h1>
        <span ng-bind="websiteUrl" class=><span>
      </h1>
    </div>
    <div>
      <p>Category: <span class="highlight" ng-bind="details.category_code"></span></p>
      <p>We started measuring this URL on <span class="highlight" ng-bind="details.date_added"></span>.
      </p>
      <p>
        The URL was suggested for measuring by <span class="highlight" ng-bind="details.source"></span>.
      </p>
    </div>
    <section>
      <h2>This URL is blocked in:</h2>
      <li ng-repeat="(key, obj) in measurementsByCountry" class="capitalize">
        <i class="flag-icon" ng-class="'flag-icon-' + key | lowercase"></i><a href="/country/{{ key }}/"> {{ obj.country | lowercase }}</a>
      </li>
    </section>
    <section>
      <h2>Measurements Run on the URL</h2>
      <ul>
        <li ng-repeat="(key, obj) in measurementsByCountry">
          <h3><a href="/country/{{ key }}/">{{ key }}</a></h3>
          <ul>

            <li ng-repeat="measurement in obj.measurements | orderBy:'test_start_time'">
            {{ measurement.test_start_time | date:'shortDate' }}: <a ng-href="/measurement/{{ measurement.report_id }}?input={{ encodeInput(measurement.input) }}">view »</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</main>
