<main>
  <div class="container">
    <div class="row">
      <div class="col-3" ng-show="loaded">
        <h1>World Map</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3" ng-show="loaded">
        <datamap map="worldMap" on-click="map_clicked" class="map" plugins="mapPlugins" plugin-data="mapPluginData"></datamap>
        <div class="worldMap"></div>
        <div class="worldMapLegend">
            <strong>Measurements</strong>
            <dl>
              <dd>
                <span style="background-color: {{worldMap.fills.HIGH}}"></span> More than 100,000
              </dd>
              <dd>
                <span style="background-color: {{worldMap.fills.MEDIUM}}"></span> More than 10,000
              </dd>
              <dd>
                <span style="background-color: {{worldMap.fills.LOW}}"></span> Less than 10,000
              </dd>
            </dl>
            <strong>Discoveries</strong>
            <dl>
              <dd>
                <span style="background-color: {{worldMap.fills.BLOCKPAGE}}"></span> Confirmed censorship cases
              </dd>
              <dd>
                <i class="fa fa-industry"></i> Vendors identified
              </dd>
            </dl>
        </div>
      </div>
    </div>
  </div>
  <hr ng-show="loaded">

  <div ooni-loader loaded="loaded"></div>

  <div ng-show="loaded">
    <h2>Country List</h2>
    <p>
      Browse the countries below to find a country you want to investigate the measurements for:
    </p>
    <div ooni-info-country-list get-data-function="loadReports"></div>
  </div>

</main>
