<div>
    <div class="overview">
        <div>
            <h3>Details for this specific test:</h3>
            <table class="test-details">
              <tbody>
                <tr>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="description">
            <h3>Captive Portal</h3>
            <p>
            This test emulates the requests that common software vendors use to
            detect the presence of a captive portal. A captive portal is a
            device between the users and the internet, generally used to
            implement authentication to the network.
            </p>
        </div>
    </div>
</div>
