<div>
    <div class="overview">
        <div>
            <label for="body_length_match">body_length_match: </label><span id="input">{{ report.test_keys.body_length_match }}</span>
            <label for="input">input: </label><span id="input">{{ report.input  }}</span>
        </div>

        <div class="description">
            <h3>DNS Spoofing</h3>
            <p>
            This test assesses if the blocking is happening due to DNS spoofing or not. DNS spoofing occurs when your connection to a DNS resolver is spoofed and you always receive a falsified answer. For example, you know that the Pirate Bay is blocked on Vodafone. So you take the piratebay domain, the DNS resolver of Vodafone and then that of a DNS resolver which you know that lies (e.g. Google DNS resolver). If however they both match, that means that something between you and Google has spoofed the response and thus DNS censorship is happening by spoofing the responses.
            </p>
            <p class="note">
            Note: If you run this test with a site that is not censored, it will tell you that spoofing is occurring (because they match), while it's actually not. In such cases, you may have false positives.
            </p>
        </div>
    </div>
</div>
