<div>
    <div class="overview">
        <div>
            <label for="body_length_match">body_length_match: </label><span id="input">{{ report.test_keys.body_length_match }}</span>
            <label for="input">input: </label><span id="input">{{ report.input  }}</span>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>
            Ability to detect the presence of DNS Injection and list of domains that are being blocked via DNS injection.
            </p>
            <p class="note">TODO: This description needs to be made better.
            </p>
        </div>
    </div>
</div>
