<div>
    <div class="overview">
        <div class="test-specific-spec">
          <h3>Details for this specific test:</h3>
          <div class="inline-test-spec">
              <span id="'input'"
                label="'Test Input'"
                ooni-more-info-hover
                content="report.input"
                definition="definitions.input"></span>
          </div>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>
            This test compares the DNS query results from a known good DNS resolver and one that is to be tested for tampering.

            </p><p>
            The domain name system (DNS) is what is responsible for transforming a host name (e.g. torproject.org) into an IP address (e.g. 38.229.72.16). ISPs, amongst others, run DNS resolvers which map IP addresses to host names. In certain circumstances, ISPs map the wrong IP addresses to the wrong host names. This is a form of tampering, which OONI can detect by running its DNS consistency test, which compares the IP address of a given host name with the IP address allocated to that website by a provider. This test compares the IP address of a given host name with those provided by the Google DNS resolver, which we assume to not be tampered with. In short, when ISPs tamper with DNS answers, they replace them with something else. This results in being redirected to other websites or in failing to connect to the correct website. This is a form of censorship and network tampering.

            </p><p class="note">
            Note: DNS resolvers, such as Google or your local ISP, often provide users with IP addresses that are closest to them geographically. Often this is not done with the intent of network tampering, but merely for the purpose of providing users faster access to websites. As a result, some false positives might arise in OONI measurements.
            </p>
        </div>
    </div>
</div>
