<div ng-controller="HTTPRequestsViewCtrl">
    <div class="overview">
        <div class="result">
            <div class="anomalous-result" ng-if="anomaly==true">
                This measurement contains data that could be a sign of network tampering or censorship.
            </div>
            <div class="normal-result" ng-if="anomaly==false">
                This measurement looks normal.
            </div>
        </div>

        <div>
            <label for="experiment_failure">Experiment failure: </label><span id="experiment-failure">{{ experiment_failure }}</span>
            <br/>
            <label for="body_length_match">Body length match: </label><span id="body-length-match">{{ body_length_match }}</span>
            <br/>
            <label for="input">Website: </label><span id="input">{{ report.input  }}</span>
            <a ng-href="/website/{{ encodeInput(report.input.replace('http://', '')) }}">View Website Information »</a>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>This test tries to detect online censorship based on a comparison of HTTP requests over Tor and over the network of the user.</p>

<p>HTTP is a protocol which allows communication between a client and a server. It does so by handling a client's request to connect to a server, and a server's response to a client's request. Every time you connect to a website, your browser (the client) sends a request through the HTTP protocol to the server which is hosting that website. A server normally responds with the content of the website it is hosting. In some cases though, Internet Service Providers (ISP) prevent users from accessing certain websites by blocking or interfering with the connection between them and the server.</p>

<p>To detect such cases of censorship, we have developed a test which performs HTTP requests to given websites over the network of its user, and then over the Tor network. As Tor software is designed to circumvent censorship by making its user's traffic appear to come from a different part of the world, we have chosen to use the Tor network as a baseline for comparing HTTP requests to websites. If the two results match, then there is no clear sign of network interference; but if the results are different, then the website that the user is testing is likely censored.</p>

<p>If one of the following is present in the results, then there is a sign of network interference:</p>
<ul>
    <li>The length of the body of the two websites (over Tor and over the user's network) differs by some percentage</li>
    <li>The HTTP request over the user's network fails</li>
    <li>The HTTP headers do not match</li>
</ul>
            </p>
            <p class="note">
            <strong>Note:</strong> False positives might occur when the Tor control connection is being discriminated by the server. This happens, for example, when a CloudFlare CAPTCHA page appears.
            </p>
        </div>
    </div>
    <h3>Comparison of response headers</h3>
    <div class="experiment-vs-control">
        View: <button class="secondary" ng-class="{'selected': viewingAllHeaders}" ng-click="viewingAllHeaders = true">all headers</button>
        <button class="secondary" ng-class="{'selected': !viewingAllHeaders}" ng-click="viewingAllHeaders = false">different headers</button>
        <table>
            <thead>
                <td class="header-name">Header Name</td>
                <td class="control-value">Control</td>
                <td class="experiment-value">Experiment</td>
            </thead>
            <tbody>
                <tr ng-repeat="header_name in header_names"
                    ng-class="{'difference': control.response.headers[header_name] !== experiment.response.headers[header_name]}"
                    ng-show="viewingAllHeaders || control.response.headers[header_name] !== experiment.response.headers[header_name]">
                    <td class="header-name">{{ header_name }}

                      </td>
                    <td>{{ control.response.headers[header_name] }}</td>
                    <td>{{ experiment.response.headers[header_name] }}</td>
                </tr>
            </tbody>
        </table>
        <div class="experiment-body" ng-if="experiment_body">
            <h3>Experiment HTML body</h3>
            <div ui-codemirror
                ng-class="{'openCodeMirror': expandExperimentBody}"
                ui-codemirror-opts="code_mirror_options"
                ng-model="experiment_body">
            </div>
            <div class="expandBody" ng-click="expandExperimentBody = !expandExperimentBody">expand ›</div>
        </div>
    </div>

</div>
