<div>
    <div class="overview">
        <div>
            <h3>Details for this specific test:</h3>

            <table class="test-details">
              <tbody>
              <tr ooni-report-detail-table-row
                content="report.test_keys.tampering"
                label="'Tampering Detected?'"
                >
              </tr>
              </tbody>
            </table>
        </div>

        <div class="description">
            <h3>HTTP Invalid Request</h3>
            <p>This test tries to detect the presence of censorship and/or surveillance software (“middle box”) which could be responsible for traffic manipulation.</p>

            <p>A very useful debugging and measurement tool is an echo service, which simply sends back to the originating source any data it receives. Instead of sending a normal HTTP request, this test sends an invalid HTTP request line - containing an invalid HTTP version number, an invalid field count and a huge request method – to an echo service listening on the standard HTTP port. If a middle box is not present in the network between the user and an echo service, then the echo service will send the invalid HTTP request line back to the user, exactly as it received it. In such cases, we assume that there is no visible traffic manipulation in the tested network.</p>

            <p>If, however, a middle box is present in the tested network, the invalid HTTP request line will be intercepted by the middle box and this may trigger an error and that will subsequently be sent back to OONI. Such errors indicate that software for traffic manipulation is likely placed in the tested network, though it's not always clear what that software is. In some cases though, we are able to identify censorship and/or surveillance vendors through the error messages in the received invalid HTTP responses.</p>

            <p>So far, we have detected, thanks to this technique, the use of <strong>BlueCoat, Squid and Privoxy</strong> in networks across 11 countries around the world.</p>

            <p class="note"><strong>Note:</strong> A false negative could potentially occur in the hypothetical instance that ISPs are using highly sophisticated censorship and/or surveillance software that is specifically designed to not trigger errors when receiving invalid HTTP request lines like the ones of this test. Furthermore, the presence of a middle box is not necessarily indicative of traffic manipulation, as they are often used in networks for caching purposes.</p>

        </div>

        <div class="tampered-responses" ng-show="report.test_keys.tampering == true">
          <h3>Content of responses from middlebox</h3>
          <div ng-repeat="receivedData in report.test_keys.received track by $index">
            <div ng-if="receivedData.length > 0">
              <h4>Response number {{$index}}</h4>
              <div ui-codemirror
                  ui-codemirror-opts="code_mirror_options"
                  ng-model="receivedData">
              </div>
            </div>
            <div ng-if="receivedData.length == 0">
              <p>Response number {{$index}} was empty</p>
            </div>
          </div>
        </div>

    </div>
</div>
