<div>
    <div class="overview">
        <div>
            <label for="header_field_name">Header field name tampering: </label><span id="header_field_name">{{ report.test_keys.tampering.header_field_name}}</span>
            <br/>
            <label for="header_field_value">Header field value tampering: </label><span id="header_field_value">{{ report.test_keys.tampering.header_field_value}}</span>
            <br/>
            <label for="header_field_number">Header field number tampering: </label><span id="header_field_number">{{ report.test_keys.tampering.header_field_number}}</span>
            <br/>
            <label for="header_name_capitalization">Header name capitalization: </label><span id="header_name_capitalization">{{ report.test_keys.tampering.header_name_capitalization}}</span>
            <br/>
            <label for="request_line_capitalization">Request line capitalization tampering: </label><span id="header_field_name">{{ report.test_keys.tampering.request_line_capitalization}}</span>
            <br/>
            <label for="total">Total tampering: </label><span id="total">{{ report.test_keys.tampering.total }}</span>
            <br/>
            <label for="header_name_diff">Header name diff: </label><span id="total">{{ report.test_keys.tampering.header_name_diff }}</span>
        </div>

        <div class="description">
          <h3>HTTP Header Manipulation</h3>
          <p>This test looks to see if the HTTP headers sent by a probe are being altered when they are transmitted to a control back-end server run by OONI. This is the sign of a transparent HTTP proxy manipulating the traffic of a probe.</p>
          <p class="note">
          (HTTP headers: When you access a website, the HTTP protocol defines what you need to send so that you can connect to a website. You need to send different “fields”, such as the path that you want to access, the method of the request, etc.)</p>
        </div>
    </div>
</div>
