<div>
    <div class="overview">
        <div>
            <label for="body_length_match">body_length_match: </label><span id="input">{{ report.test_keys.body_length_match }}</span>
            <label for="input">input: </label><span id="input">{{ report.input  }}</span>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>
                This test attempts to (1) detect the presence of a middle-box (something that is in between the network path of the probe and a control server run by OONI) and (2) assess which censorship circumvention techniques may be able to bypass the censorship implemented by the middle-box. This can lead sometimes to identifying the type of infrastructure being used to implement censorship.
            </p>
        </div>
    </div>
</div>
