<div>
    <div class="overview">
        <div>
            <label for="success">Successfully connected: </label><span id="success">{{ report.test_keys.success }}</span>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>
            Ability to detect uncensored fronted domains that can transmit requests to the "inside" meek-server via an intermediary web service.
            </p>
            <p class="note">TODO: This description needs to be made better.
            </p>
        </div>
    </div>
</div>
