<div>
    <div class="overview">
        <div>
            <label for="success">Successfully connected: </label><span id="success">{{ report.test_keys.success }}</span>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>This test examines whether the domains used by Meek (a type of Tor bridge) work in tested networks.</p>

            <p>Meek is a pluggable transport which uses non-blocked domains, such as
            <strong>google.com</strong>, <strong>awsstatic.com</strong> (Amazon cloud infrastructure) and
            <strong>ajax.aspnetcdn.com</strong> (Microsoft azure cloud infrastructure), to proxy its users over
            <a href="https://www.torproject.org/">Tor</a> to blocked websites, while hiding
           both the fact that they are connecting to such websites and how they are
           connecting to them. As such, Meek is useful for not only connecting to websites
           that are blocked, but for also hiding which websites you are connecting to.</p>

            <p>Below is a simplified explanation of how this works:</p>

            <p>[user] → [https://www.google.com] → [Meek hosted on the cloud] → [Tor] → [blocked-website]</p>

            <p>The user will receive a response (access to a blocked website,
            for example) from cloud-fronted domains, such as google.com,
            through the following way:</p>

            <p>[blocked-website] → [Tor] → [Meek hosted on the cloud] → [https://www.google.com] → [user]</p>

            <p>In short, this test does an encrypted connection to
            cloud-fronted domains over HTTPS and examines whether it can
            connect to them or not.</p>

        </div>
    </div>
</div>
