<div>
    <div class="overview">
        <div>
            <label for="body_length_match">body_length_match: </label><span id="input">{{ report.test_keys.body_length_match }}</span>
            <label for="input">input: </label><span id="input">{{ report.input  }}</span>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>This test provides an automated way of examining whether OpenVPN works in a tested network.</p>

            <p><a href="https://openvpn.net/">OpenVPN</a> is an open source
            application VPN (Virtual Private Network) protocol that allows a user to send and receive
            network data as if they were connected directly to another private network.
            As such it is commonly used for censorship circumvention purposes.
            </p>

            <p>This test runs OpenVPN and checks to see if it is working. If it's able to
            connect to an OpenVPN server, then we consider that OpenVPN can be used for
            censorship circumvention within the tested network. If however the test is
            unable to connect to OpenVPN servers, then it is likely the case that they are
            blocked within the tested network.</p>

        </div>
    </div>
</div>
