<div>
    <div class="overview">
        <div>
            <label for="request_success">Request success: </label><span id="request_success">{{ report.test_keys.request_success }}</span>
            <br/>
            <label for="bootstrapped_success">Bootstrapped success: </label><span id="bootstrapped_success">{{ report.test_keys.bootstrapped_success }}</span>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>This test provides an automated way of examining whether Psiphon works in a tested network.</p>

            <p><a href="https://psiphon.ca/">Psiphon</a> is a free and open
            source tool that utilises SSH, VPN and HTTP proxy technology for
            censorship circumvention.</p>

            <p>This test runs Psiphon and checks to see if it is working. If
            it's able to connect to a Psiphon server and reach a website over it,
            then we consider that Psiphon can be used for censorship
            circumvention within the tested network. If however the test is
            unable to connect to Psiphon servers, then it is likely the case
            that they are blocked within the tested network.</p>

        </div>

        <div class="command-output">
          <h3>Console standard output</h3>
          <div ui-codemirror
                ui-codemirror-opts="code_mirror_options"
                ng-model="report.test_keys.commands[0].command_stdout">
          </div>

          <h3>Console error output</h3>
          <div ui-codemirror
                ui-codemirror-opts="code_mirror_options"
                ng-model="report.test_keys.commands[0].command_stderr">
          </div>
        </div>


    </div>
</div>
