<div>
    <div class="overview">
        <div>
          <h3>Details for this specific test:</h3>
          <div class="inline-test-spec">
              <span id="'connection'"
                label="'Connection Success?'"
                ooni-more-info-hover
                content="report.test_keys.connection === 'success'"
                definition="definitions.connection"></span>
          </div><div class="inline-test-spec">
              <span id="'input'"
                label="'Test Input'"
                ooni-more-info-hover
                content="report.input"
                definition="definitions.test_input"></span>
          </div>
        </div>

        <div class="description">
            <h3>What does this test do?</h3>

            <p>
            This test attempts to connect to a particular endpoint, such as a website, and it sees if it's able to connect. If it's not able to, then that's a sign of network tampering.
            </p><p class="note">
            Note: False positives can occur when the endpoint is down and you simply cannot connect to it anyway.
            </p>
        </div>
    </div>
</div>
