.country {
  h1 {
    margin-bottom: 1rem;
  }
}


.map {
  margin-top: -80px;
}

.explanation {
  text-align: center;
  max-width: 640px;
  margin: 0rem auto 2rem;
}

.statistics {
  margin-top: 1rem;
}

.graph-description {
  text-align: center;
  font-size: .8rem;
  margin-top: .5rem;

  i {
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  .measured {
    background: $ooni-blue;
  }
  .blocked {
    background: $red;
  }
}

.bar-chart {
  .bar {
    cursor: pointer;
    display: inline-block;
    fill: $ooni-blue;
    width: 4rem;
    margin-right: 2rem;

    &.blocked {
      fill: $red;
    }
  }

  text {
    fill: $grey;
    font-size: 16px;
    transition: fill $transition-speed;

    &.date,
    &.total {
      text-anchor: middle;
    }
  }

  .hidden {
    fill: $white;
  }
}
