.country {
  h1 {
    margin-bottom: 1rem;
  }
}

.hang-right {
  display: inline-block;
}


.map {
  margin-top: -80px;
}

.explanation {
  margin: 0rem auto 2rem;
}

.statistics {
  margin-top: 1rem;
}

.graph-description {
  text-align: center;
  font-size: .8rem;
  margin-top: .5rem;

  i {
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  .measured {
    background: $color-ooni-blue;
  }
  .blocked {
    background: $color-blocked;
  }
}

.bar-chart-wrapper {
  text-align: center;

  a:hover {
    color: darken($color-ooni-blue, 10%);
    cursor: pointer;
  }
}

.bar-chart {

  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;


  .bar {
    cursor: pointer;
    display: inline-block;
    fill: $color-ooni-blue;
    margin-right: 2rem;

    &.blocked {
      fill: $color-blocked;
    }
  }

  text {
    fill: $color-grey;
    opacity: 1;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;

    &.date {
      text-anchor: start;
      font-size: 14px;
    }
    &.total {
      fill: $color-ooni-blue;
      text-anchor: middle;
    }
    &.blocked {
      fill: $color-blocked;
      text-anchor: start;
    }
  }

  .hidden {
    opacity: 0;
  }
}

.country section {
  margin-top: 2em;

  h2 {
    margin-bottom: 1em;
  }

  .no-show {
    background-color: $color-off-white;
    padding: 2rem;
    text-align: center;
    color: $color-grey;
  }

  &.websites-blocked {
    ul {
      font-size: .8rem;
      list-style: none;
    }

    li {
      display: inline-block;
      vertical-align: top;
      width: 32%;
      margin-left: 0;
      padding-left: 0;
    }
  }

  &.vendors {
    ul {
      list-style: none;

      li {
        display: inline-block;
        width: 45%;
      }
    }
  }
}
