.anomalies {
  list-style: none;

  li {
    margin-left: 0;
  }
}

.measurement {

  h1 {
    margin: .5rem 0;
  }

  h3 {
    line-height: 2.6;
  }

  .measurement-info {
    background-color: $color-off-white;
    margin: 1rem 0;
    padding: 1rem 1.25rem;

    .detail {

      font-family: 'Fira Sans';
      color: $color-grey;

      &.tiny {
        font-size: 16px;
      }
    }
  }

}


label[for="anomalies"] {
  margin-top: 1rem;
  display: block;
}

.experiment-vs-control {
  margin-top: 1rem;

  table {
    position: relative;
    width: 100%;
  }

  thead {
    font-weight: bold;
    td {
      padding: 0.25rem 0.5rem
    }
  }

  .control-value,
  .experiment-value {
    width: 40%;
  }

  .header-name {
    width: 20%;
  }

  tbody td {
    font-size: .8rem;
  }

  .difference td {
    background-color: transparentize($color-blocked, 0.9);
  }
}

.CodeMirror {
  font-size: .8rem;
  background-color: $color-off-white;
  padding: .5rem;
  height: 250px;
  transition: height $transition-speed;
}

.openCodeMirror {
  .CodeMirror {
    height: 500px;
  }
}

.expandBody {
  color: darken($color-off-white, 20%);
}

.overview,
.details {
  margin-top: 1rem;

  label {
    font-weight: bold;
  }

  .description {
    margin-top: 1rem;
  }

  .anomalous-result {
      background-color: $color-blocked;
      padding: 2rem;
      margin-bottom: 1rem;
      color: $color-off-white;

      font-size: 18px;

      i {
        font-size: 30px;
      }
  }

  .normal-result {
      background-color: $color-unblocked;
      padding: 2rem;
      color: $color-off-white;
  }

  .result {
    margin-bottom: 10px;
    text-align: center;
  }

}

.inline-test-spec {
  display: inline-block;
  box-sizing: border-box;
  margin-top: .5rem;
  border: 1px solid $color-grey;
  border-right: 0;
  padding: .5rem 1rem;

  &:last-child {
    border-right: 1px solid $color-grey;
  }
}

.note {
  padding: .5rem .7rem;
  background-color: transparentize($color-ooni-blue, .5);
  border: 1px solid $color-ooni-blue;
}
