@mixin button-mixin($border) {
  padding: .35rem .5rem;
  font-size: .8rem;
  line-height: inherit;
  cursor: pointer;
  border: $border;
  font-family: "Fira Sans";
  font-weight: 300;
  transition: $transition-speed background-color, $transition-speed color;
}

@mixin primary-button-mixin($border, $background-color, $color) {
  @include button-mixin($border);
  background-color: $background-color;
  color: $color;
  border: $border;
}

@mixin placeholder-text($font-family, $font-weight) {
  ::-webkit-input-placeholder {
    font-family: $font-family;
    font-weight: $font-weight;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-family: $font-family;
    font-weight: $font-weight;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-family: $font-family;
    font-weight: $font-weight;
  }

  :-ms-input-placeholder {
    font-family: $font-family;
    font-weight: $font-weight;
  }
}
