/* World Map Legend */

.worldMapLegend {
    margin-top: -300px;
    margin-bottom: 50px;

    dl {
      margin-bottom: 15px;
      font-size: 16px;

      dd {
        display: block;

        span {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 2px;
        }

        i {
          font-size: 0.6em;
          color: $color-red;
        }
      }
    }
}

.countries-list {
  list-style: none;
  margin: 0;

  li {
    width: 30.33%;
    display: inline-block;
    margin: 0 1.5% 2% 1.5%;
    padding: 0 0 1.5rem 0;

    border-bottom: 1px solid $color-grey-light;
  }

  .country {
    width: 65%;
    float: left;
    display: inline-block;
    font-family: "Fira Sans";
    font-weight: bold;
    font-size: 18px;

    i {
      margin-right: 10px;
    }
  }

  .count {
    float: right;
    background-color: $color-off-white;
    border-radius: $border-radius;
    display: inline-block;
    padding: .25rem .5rem;
    text-align: center;
    font-size: 14px;

    span {
      font-size: 18px;
      font-weight: bold;
      display: block;
      text-align: center;
    }
  }

}


@media (max-width: 1029px) {

  .countries-list {
    list-style: none;
    margin: 0;

    li {
      width: 47%;
    }
  }
}


@media (max-width: 809px) {

  .countries-list {
    list-style: none;
    margin: 0;

    li {
      width: 97%;
    }
  }
}
