/* OONI Explorer - Stylesheet */

// Colors
$color-ooni-blue: #0588CB;
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-footer-background-color: #26292c;
$color-footer-color: #b4b4b4;
$color-blocked: #B83564;
$color-unblocked: #4FD156;
$color-red: #cc0000;
$color-grey-light: #d9d9d9;
$color-grey: #c1c1c1;

// Misc
$base-spacing: 10px;
$border-radius: 3px;

// Buttons
$button-border: 1px solid $color-ooni-blue;
$button-border-hover: 1px solid darken($color-ooni-blue, 10%);
$button-border-radius: 3px;

// Other
$transition-speed: .5s;

@import "mixins";
@import "ui/fonts",
        "ui/table",
        "ui/p",
        "ui/pagination",
        "ui/table-of-contents",
        "ui/buttons",
        "ui/forms",
        "ui/ui-grid",
        "ui/section",
        "ui/more-info-hover",
        "ui/icons",
        "base",
        "loading",
        "country",
        "highlights",
        "explore",
        "measurement",
        "world";

.capitalize {
  text-transform: capitalize;
}

.header-wrapper {
  background-color: $color-ooni-blue;

  .row {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  header {
    img {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -5px;
      left: 0px;
      margin-right: 20px;
    }

    h1 {
      display: inline-block;
      color: white;
      margin-bottom: 0;
      padding: 1rem 0;
    }
  }

  .view-chooser {
    text-align: center;
    position: relative;
    z-index: 999;

    a {
      @include button-mixin(3px);
      margin: 0 .85rem;
      font-size: 1rem;
      font-weight: bold;
      color: $color-white;
      border-radius: 3px;

      &:hover {
        background-color: darken($color-ooni-blue, 10%);
        color: white;
      }

      &.selected {
        @include primary-button-mixin(0px, $color-white, $color-ooni-blue);
        border-radius: 0;
        font-size: 1rem;
        font-weight: bold;
        line-height: inherit;
        border-radius: 3px;

        &:hover {
          background-color: $color-white;
          color: $color-ooni-blue;
        }
      }
    }
  }
}
